[alias]
	tree = log --graph --all --pretty=oneline --graph --decorate
	st = status
	co = checkout
	br = branch
	ci = commit
	cleanup = !git remote prune origin && git branch --merged | grep -v '^* master$' | grep -v '^  master$' | xargs git branch -d
	wip = !git ci -a --amend --no-edit --date=now && git push -f
  pr = pull-request
[color]
	ui = true
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore_global
	whitespace = blank-at-eol, -blank-at-eof
	pager = diff-so-fancy | less --tabs=1,5 -R
	compression = 0
	packedGitLimit = 512m
	packedGitWindowSize = 512m
[pack]
	deltaCacheSize = 2047m
	packSizeLimit = 2047m
	windowMemory = 2047m
[log]
	date = rfc2822
	abbrevCommit = true
[push]
	default = current
[user]
	name = Pierre Dal-Pra
	email = dalpra.pierre@gmail.com
[hub]
	protocol = ssh
[rebase]
	autosquash = true
[help]
	autocorrect = 1
