[alias]
	st = status
	co = checkout
	br = branch
	ci = commit

	tree        = !git log --graph --all --pretty=oneline --graph --decorate --color=always | less -r
	cleanup     = !git remote prune origin && git branch --merged | grep -v '^* master$' | grep -v '^  master$' | xargs -r git branch -d
	wip         = !git ci -a --amend --no-edit --date=now && git push -f
	rebm        = !git fetch --all && git rebase origin/master
	rebase-from = !"git rebase -i $(git merge-base \"$1\" $(git rev-parse --abbrev-ref HEAD)) #"
[color]
	ui = true
[core]
	autocrlf = input
	editor = vim
	pager = delta
	excludesfile = ~/.gitignore_global
	whitespace = blank-at-eol, -blank-at-eof
	compression = 0
	packedGitLimit = 512m
	packedGitWindowSize = 512m
[interactive]
	diffFilter = delta --color-only
[pack]
	deltaCacheSize = 2047m
	packSizeLimit = 2047m
	windowMemory = 2047m
[log]
	date = rfc2822
	abbrevCommit = true
[push]
	default = current
[rebase]
	autosquash = true
	autostash = true
[sequence]
	editor = interactive-rebase-tool
[help]
	autocorrect = 1
[delta]
	side-by-side = true
	theme = Dracula
[include]
	path = ~/.gitconfig.local
[credential]
	helper = store --file ~/.gitcredentials
